{%extends 'demo/base.html'%}
{%block includes%}

{%endblock%}
{%block styles%}
#hero {
    display:flex;
    flex-direction:row;
}
{%endblock%}
{%block content%}
    <div style="width:50%;height:50%">
        <canvas id="myChart"></canvas>
    </div>
    <div style="width:50%;height:50%">
        <canvas id="myChart2"></canvas>
    </div>
{%endblock%}
{%block postLoad%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  const c = document.getElementById('myChart');
  const ctx2 = document.getElementById('myChart2');
    new Chart(
        ctx2,
        {
            type:'bar',
            data:{
                datasets: [{
                  data: [{
                        x:'04:52',
                        y:1
                    }, {
                        x:'04:32',
                        y:2
                    }, {
                        x:'04:12',
                        y:3
                    }, {
                        x:'04:22',
                        y:4
                    }, {
                        x:'04:42',
                        y:5
                    }, {
                        x:'05:02',
                        y:6
                    }],
                  
                }],
            },
            options: {
                scales: {
                    x: {
                        beginAtZero:true,
                    }
                }
              }
        }
    )
    new Chart(ctx, {
    
    data: {
      labels: ['Jan', 'Feb', 'March', 'April', 'May', 'June'],
      datasets: [
      {
        type: 'line',
        label: 'Overall Towback',
        data: [7.1, 11.2, 8.4, 7.7, 11.8, 10.6],
        borderWidth: 2,
        borderColor:'#420696',
        
      },
      {
        type: 'line',
        label: 'Overall goal',
        data: [8.1, 8.1, 8.1, 8.1, 8.1, 8.1],
        borderWidth: 2,
        borderColor: '#420696',
        borderDash:[5,10],
      },
      {
        type: 'line',
        label: 'Cor Towback',
        data: [5.1, 6.2,4.4, 3.7, 7.8, 8.6],
        borderWidth: 2,
        borderColor:'#69ff69'
      },
      {
        type: 'line',
        label: 'Cor goal',
        data: [5.5, 5.5, 5.5, 5.5, 5.5, 5.5],
        borderWidth: 2,
        borderColor: '#69ff69',
        borderDash:[10,5],
      },
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{%endblock%}