{%extends 'demo/base.html'%}
{%load getItem %}
{%block includes%}

{%endblock%}
{%block styles%}

{%endblock%}
{%block content%}
<div style="max-width:100%;min-width:100%;height:50%;display:flex">
    <div style="width:50%;height:100%;flex-shrink:1">
        <center><h2>Towback Data</h2></center>
        <canvas id="myChart1"></canvas>
    </div>
    <div style="width:50%;height:100%;flex-shrink:1">
        <center><h2>Standard 12 Data</h2></center>
        <canvas id="myChart2"></canvas>
    </div>
</div>
<div style="width:100%;height:50%;display:flex">
        <div style="width:33.333%;">
            <center><h2>Average call duration Data</h2></center>
            <canvas id="myChart3"></canvas>
        </div>
        <div style="width:33.333%;">
            <center><h2>Adherence/pacesetter Data</h2></center>
            <canvas id="myChart4"></canvas>
        </div>
        <div style="width:33.333%;">
            <center><h2>Ame Data</h2></center>
            <canvas id="myChart5"></canvas>
        </div>
    </div>
{%endblock%}
{%block postLoad%}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script>
    const ctx1 = document.getElementById('myChart1');
    const ctx2 = document.getElementById('myChart2');
    const ctx3 = document.getElementById('myChart3');
    const ctx4 = document.getElementById('myChart4');
    const ctx5 = document.getElementById('myChart5');
    
      {%for cd in cds%}
      new Chart(ctx{{forloop.counter}}, {
        
        data: {
        labels: [{%for label in cd|getItem:'data'|getItem:'labels'%}'{{label}}',{%endfor%}],
        datasets: [
        {%for dataset in cd|getItem:'data'|getItem:'datasets'%}
        {
            type:'{{dataset|getItem:'type'|default_if_none:'line'}}',
            label: '{{dataset|getItem:'label'|default_if_none:''}}',
            data: [{%for dp in dataset|getItem:'data'%}{{dp}},{%endfor%}],
            borderDash: {{dataset|getItem:'borderDash'|default_if_none:'[1,0]'}},
        },
        {%endfor%}
        ],},
        options: {{cd|getItem:'options'|safe}}
        }
        );
    {%endfor%}
    
</script>
{%endblock%}